* {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    color:black;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    color:black;
    margin:10px;
  }
  
  .quiz-app {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
  }
  
  .quiz-app h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .question p {
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
  }
  
  .options {
    display: flex;
    flex-direction: column;
  }
  
  .option {
    background-color: #f4f7f6;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 12px;
    margin: 5px 0;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .option:hover {
    background-color: #e1e1e1;
    transform: translateY(-2px);
  }
  
  .option.selected {
    background-color: #68a0ff;
    color: #fff;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px 20px;
    background-color: #68a0ff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 48%;
  }
  
  button:hover {
    background-color: #5490e0;
    transform: translateY(-2px);
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .quiz-result {
    text-align: center;
  }
  
  .quiz-result h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .quiz-result p {
    font-size: 18px;
    color: #444;
  }
  